body{
  font-family: Arial, Helvetica, sans-serif;
  margin:0;
  padding: 0;

  background-color: white;
}

nav{
    ul{
      display: flex;
      justify-content: center;
      margin:auto;
      margin-bottom: 10px;
      padding: 0;
      background-color: #4e4e4e;
    }

    li{
      list-style-type: none;
    }
    
    li div a{
      color: #fff;
      background-color: #4e4e4e;
      border: none;

      font-size: large;

      margin: 15px;
      margin-top: 15px;
      margin-bottom: 15px;


      text-decoration: none;
      display: flex;

    }

    li div button{
      color:#f9f9f9;
      background-color: #4e4e4e;
      border: none;

      font-size: large;

      margin: 9px;
      margin-top: 14px;
      margin-bottom: 15px;


      text-decoration: none;
    }
}


.dropdown-content{
  display: none;
  position: absolute;
  top: 50px;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 0px 20px black;
  z-index: 1;

  border-radius: 10px;

  animation: fade 0.8s;

  p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 5px;
  }

  button{
    animation-name: return_button;
    animation-duration: 0.15s;

    color:#4e4e4e;
    width: 25px;
    height: 25px;
    border:solid;
    border-radius: 25%;

    vertical-align: middle;
    margin: 5px;
    padding: 0px;
  }

  button:hover{
    animation-name: heighten_button;
    animation-duration: 0.2s;

    height: 30px;
    color: rgb(138, 100, 6)
  }

  
}

@keyframes heighten_button {
    from{height: 25px;color: #4e4e4e;}
    to{height: 30px;color: rgb(138, 100, 6);}
}

@keyframes return_button {
  from{height: 30px;color: rgb(138, 100, 6);}
  to{height: 25px;color: #4e4e4e;}
}

@keyframes fade {
  from{opacity: 0%;}
  to{opacity: 100%;}
}

.let_red{
  background-color: red;
}
.let_green{
  background-color: green;
}
.let_blue{
  background-color: blue;
}
.let_white{
  background-color: white;
}
.let_black{
  background-color: black;
}


.bg_red{
  background-color: lightcoral;
}
.bg_green{
  background-color: lightgreen;
}
.bg_blue{
  background-color: lightblue;
}
.bg_gray{
  background-color: gray;
}
.bg_lightgray{
  background-color: lightgray;
}


.let_s{
  background-color: #f9f9f9;
  font-size: small;
}


.let_f{
  background-color: #f9f9f9;
  font-size: small;

}

.dropdown{
  cursor: pointer;
}